html{
    overflow: hidden;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* BAR NAV :: ONGLET  */
header *{
    z-index: 1;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 4%;
}
.onglet{
    font-weight: 700;
    width: 100%;
}
.onglet>a{
    position: relative;
    margin-right: 3%;
    text-decoration: none;
    color: black;
}
span{
    opacity: 0%;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 100px;
    background-color: #DEBCDB;
    top: 6%;
    transition: all 500ms;
}
#jouer{
    font-weight: 800;
    padding: 10px 30px;
    background-color: #1EE300;
    color: white;
    text-decoration: none;
    border-radius: 100px;
    text-align: center;
}


/* SECTION :: PLATEAU */
section{
    z-index: 0;
    display: flex;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    text-align: center;
    right: 0;
    left: 0;
}
section img{
    width: 60vw;
    margin: auto;
    transform: translateX(0vw);
    transition: all 1s;
}
section img.rules{
    transform: translateX(48vw);
    width: 40vw;
}
section img.aPropos{
    transform: translateX(-48vw);
    width: 40vw;
}

/* SECTION :: CARDS */
.card{
    z-index: 2;
    opacity: 100%;
    background-color: #1EE300;
    height: 150px;
    width: 320px;
    border-radius: 10px;
}
.c_left{
    transform: translate(-90%);
}
.c_right{
    transform: translate(90%);
}
#c1{
    top: 16%;
    transform: translate(0%);
}
#c2{
    top: 40%;
}
#c3{
    top: 64%;
}
#c4{
    top: 16%;
    right: 0.5%;
}
#c5{
    top: 40%;
    right: 0.5%;
}
#c6{
    top: 64%;
    right: 0.5%;
}
#cj{
    transform: translate(260%);
}

/* SECTION :: RULES */
div._rules{
    display: flex;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    left: -100%;
    opacity: 0;
    transition: all 1200ms;
}
div._rules div{
    margin: auto;
}
div._rules p{
    text-align: left;
    font-size: 3vh;
    font-weight: 500;
    width: 100%;
    margin: 0;
}
div._rules div>p:last-child{
    margin-top: 10px;
}
div.active{
    left: 0;
    opacity: 40%;
}


/* SECTION :: APROPOS */
div._aPropos{
    display: flex;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    left: +100%;
    opacity: 0;
    transition: all 1200ms;
}
div._aPropos div{
    margin: auto;
}
div._aPropos p{
    text-align: left;
    font-size: 6vh;
    font-weight: 700;
    width: 100%;
    margin: 0;
}
div.active{
    left: 0;
    opacity: 40%;
}


/* LOGO :: ACCUEIL */
footer{
    display: flex;
    justify-content: space-between;
    padding: 20px 4%;
    position: fixed;
    bottom: 0;
    width: 90%;
}
footer a{
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 100px;
    transition: background-color 0.5s;
}
footer a:hover{
    background-color: #DEBCDB;
}
footer img{
    width: 50px;
    padding: 5px;
}
footer p{
    margin: auto;
    margin-right: 0;
    color: lightgrey;
    font-weight: 700;
    font-size: 50%;
}